<div class="profile-container" *ngIf="currentUser">
    <!-- Personal Information -->
    <div class="personal-info-box">
        <h2>Welcome to your profile, {{ currentUser.username }}</h2>
        <div class="personal-details">
            <p><strong>Email:</strong> {{ currentUser.email }}</p>
            <p><strong>Gender:</strong> {{ currentUser.gender }}</p>
            <p><strong>Role:</strong> {{ currentUser.role }}</p>
            <p><strong>Phone:</strong> {{ currentUser.phone }}</p>
            <button class="edit-profile-button" (click)="openEditProfileDialog()">Edit Profile</button>
        </div>
    </div>

    <!-- Posts Section -->
    <div class="user-posts-box">
        <h3>Posts by {{ currentUser.username }}</h3>
        <div class="post-container">
            <div *ngFor="let post of userPosts" class="post-item">
                <div class="post-details">
                    <h4>{{ post.title }}</h4>
                    <p>{{ post.content }}</p>
                    <img *ngIf="post.imageUrl.length > 0" [src]="post.imageUrl[0]" alt="Post Image" class="post-image">
                    <!-- Add more details of the post as needed -->
                </div>
                <div class="post-actions">
                    <button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Profile Button -->
</div>