<header>
  <div class="logo"><a routerLink="/">FastDeal</a></div>
  <nav>
    <ul>
      <li><a routerLink="/posts"><strong>Home</strong></a></li>
      <!-- Dropdown menu for Profile and Orders -->
      <li *ngIf="isAuthenticated">
        <a><strong>{{ username }}</strong></a>
      </li>
      <li *ngIf="isAuthenticated" class="dropdown">
        <span class="caret">&#9660;</span>
        <ul class="dropdown-menu">
          <li><a [routerLink]="userRole === 'client' ? '/profil' : '/profil'">Profile</a></li>
          <li *ngIf="userRole === 'prestateur'"><a routerLink="/orders">Orders</a></li>
          <li *ngIf="isAuthenticated && isClient()"><a routerLink="/message"><strong>Message</strong></a></li>
          <li *ngIf="isAuthenticated && isAdmin()"><a routerLink="/category"><strong> Category</strong></a></li>
          <li *ngIf="isAuthenticated"><a (click)="logout()"><strong> Logout</strong></a></li>

        </ul>
      </li>

      <li *ngIf="!isAuthenticated"><a routerLink="/login"><strong> Login</strong></a></li>
    </ul>
  </nav>
</header>