header {
    display: flex;
    justify-content: space-between;
    /* Align items to the start and end of the header */
    align-items: center;
    /* Center items vertically */
    background-color: #049c25;
    color: #fff;
    padding: 10px 20px;
}

.logo {
    font-size: 30px;
    /* Adjust the size of the logo */
    font-weight: bold;
    /* Make the logo text bold */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav ul li a:hover {
    color: #ccc;
}

.logo a {
    text-decoration: none;
    /* Remove underline */
    color: #fff;
    /* Set text color to white */
}