.footer {
    background-color: #f8f9fa;
    /* Set background color */
    padding: 20px 0;
    /* Add padding */
    text-align: center;
    /* Align text to center */
    margin-top: 300px;
}

.container {
    max-width: 1200px;
    /* Set maximum width */
    margin: 0 auto;
    /* Center the container */
}

hr {
    border: none;
    /* Remove border */
    border-top: 1px solid #ccc;
    /* Add top border */
    margin: 10px auto;
    /* Add margin */
    width: 50%;
    /* Set width */
}

p {
    color: #555;
    /* Set text color */
    font-size: 14px;
    /* Set font size */
}