.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.popup h2 {
    margin-bottom: 20px;
}

.form-field {
    width: 100%;
    margin-bottom: 20px;
}

.mat-raised-button {
<<<<<<< HEAD
    padding: 10px 20px; /* Espacement intérieur */
    font-size: 18px; /* Taille de police */
    background-color: #049c25; /* Couleur de fond */
    color: #fff; /* Couleur de police */
    border: none; /* Supprime la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur */
}
.reservations-title {
    font-size: 24px;
    color: #027a1b; /* Couleur demandée */
    margin-bottom: 20px;
  }
  
button[type="submit"] {
    background-color: #049c25;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s;
=======
    width: 100%;
    padding: 10px 0;
>>>>>>> 58de44c50ead40cbf44e213fca33b0b4c7739620
}