.create-post-form {
    width: 50%;
    /* Occupe la moitié de l'écran */
    margin: 20px auto 0;
    /* Centre le formulaire horizontalement et ajoute de l'espace en haut */
    padding: 20px;
    /* Espacement intérieur */
    background-color: #f8f9fa;
    /* Couleur de fond */
    border: 1px solid #ced4da;
    /* Bordure */
    border-radius: 5px;
    /* Coins arrondis */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Ombre */
}

.form-group {
    margin-bottom: 20px;
    /* Espacement entre les groupes de champs */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
input[type="number"] {
    width: calc(100% - 10px);
    /* Calcul de la largeur pour laisser de l'espace à droite */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    transition: border-color 0.3s;
    margin-bottom: 20px;
    /* Espacement en bas */
    box-sizing: border-box;
    /* Inclure le padding et la bordure dans la largeur */
}

select {
    width: 100%;
    /* Occupe toute la largeur du conteneur */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    transition: border-color 0.3s;
    margin-bottom: 20px;
    /* Espacement en bas */
}

button[type="submit"] {
    font-size: 18px;
    /* Taille de police */
    background-color: #049c25;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    float: right;
    /* Aligner à droite */
}

.custom-file-input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.custom-file-label {
    font-size: 18px;
    /* Taille de police */
    background-color: #049c25;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s;
}

.custom-file-label:hover {
    background-color: #027a1b;
    /* Couleur de fond au survol */
}