.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.category-list {
    list-style-type: none;
    padding: 0;
}

.category-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-buttons button {
    margin-left: 10px;
}

/* Button Styles */
.btn {
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #049c25;
    color: #fff;
    border: none;
}

.btn-info {
    background-color: #17a2b8;
    color: #fff;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.mat-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}