.title {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.title.visible {
    opacity: 1;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.empty-message {
    font-style: italic;
    color: #888;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
}

.post-item {
    width: 100%;
    margin-bottom: 20px;
    /* Add margin between posts */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease;
}

.post-item:hover {
    transform: translateY(-5px);
}

.post-details {
    margin-bottom: 15px;
}

.post-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.post-content {
    margin-bottom: 10px;
}

.post-price {
    font-weight: bold;
}

.post-actions {
    display: flex;
    justify-content: flex-end;
}

.delete-button,
.modify-button {
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover,
.modify-button:hover {
    background-color: #c82333;
}

.create-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

.create-button:hover {
    background-color: #218838;
}

.orange-button {
    background-color: rgb(1, 161, 36);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.orange-button:hover {
    background-color: rgb(18, 21, 219);
}

.post-image {
    width: 200px;
    /* Adjust the width of the image */
    height: auto;
    /* Automatically adjust the height based on the width */
    object-fit: cover;
    /* Ensure the image covers the entire space */
}