<!-- Banner -->
<div id="banner" class="with-transparent-header parallax background"
  style="background-image: url(../../assets/img/banner-home-02.jpg)" data-img-width="2000" data-img-height="1330"
  data-diff="300">
  <div class="container">
    <div class="sixteen columns">
      <div class="search-container">
        <!-- Form -->
        <h2>Find Services</h2>
        <input type="text" class="ico-01" [(ngModel)]="searchKeyword"
          placeholder="job title, keywords or company name" />
        <input type="text" class="ico-02" placeholder="city, province or region" />
        <button (click)="searchPosts(searchKeyword)"><i class="fa fa-search"></i></button>
        <!-- Announce -->
        <div class="announce">
          We have over <strong>15,000</strong> job offers for you!
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Categories -->
<div class="container mt-20">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center mb-4 mt-4">Popular Categories</h3>
      <div class="row">
        <div class="col-md-3" *ngFor="let category of Categories">
          <div class="card mb-3">
            <div class="card-body">
              <a (click)="searchPosts(category)">
                <i [class]="getIconClass(category)"></i> {{ category }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>