<div class="container">
    <h2 class="title">Edit Post</h2>
    <form class="form" (ngSubmit)="updatePost()">
        <!-- Title -->
        <div class="form-group">
            <label for="title" class="label">Title</label>
            <input type="text" id="title" name="title" [(ngModel)]="post.title" class="input" required>
        </div>

        <!-- Content -->
        <div class="form-group">
            <label for="content" class="label">Content</label>
            <textarea id="content" name="content" [(ngModel)]="post.content" class="input" required></textarea>
        </div>
        <div class="form-group">
            <label for="localisation" class="label">Localisation</label>
            <select id="localisation" name="localisation" [(ngModel)]="post.localisation" class="input" required>
                <option *ngFor="let loc of localisations" [value]="loc">{{ loc }}</option>
            </select>
        </div>

        <!-- Image URL -->
        <div class="form-group file-upload">
            <label for="customFile" class="label">Images:</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" accept="image/*" multiple
                    formControlName="image" (change)="previewImages($event)">
                <label class="custom-file-label" for="customFile">Choose images</label>
            </div>
            <div class="image-container" *ngIf="imageUrlList.length > 0">
                <ng-container *ngFor="let imageUrl of imageUrlList; let i = index">
                    <img [src]="imageUrl" alt="Image Preview" class="preview-image">
                </ng-container>
            </div>
        </div>

        <!-- Price -->
        <div class="form-group">
            <label for="price" class="label">Price</label>
            <div class="input-group">
                <input type="number" id="price" name="price" [(ngModel)]="post.price" class="form-control" required>
                <div class="input-group-append">
                    <span class="input-group-text">DT</span>
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="button">Update Post</button>
    </form>
</div>