.form-container {
    width: 50%; /* Occupe la moitié de l'écran */
    margin: 20px auto 0; /* Centre le formulaire horizontalement et ajoute de l'espace en haut */
    padding: 20px; /* Espacement intérieur */
    background-color: #f8f9fa; /* Couleur de fond */
    border: 1px solid #ced4da; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre */
}

/* Styles pour les éléments du formulaire */
.form-group {
    margin-bottom: 20px; /* Espacement entre les groupes de champs */
}

label {
    font-size: 18px; /* Taille de police pour les étiquettes */
    color: #333; /* Couleur de police */
    font-weight: bold; /* Texte en gras */
}

/* Styles pour les éléments du formulaire */
input[type="text"],
input[type="date"],
input[type="time"],
textarea,
select {
    width: calc(100% - 10px); /* Calcul de la largeur pour laisser de l'espace à droite */
    padding: 10px; /* Espacement intérieur */
    font-size: 16px; /* Taille de police */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    margin-right: 10px; /* Espacement à droite */
}

select {
    width: 100%; /* Occupe toute la largeur du conteneur */
    padding: 10px; /* Espacement intérieur */
    font-size: 16px; /* Taille de police */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
}

/* Style pour le bouton */
button {
    padding: 10px 20px; /* Espacement intérieur */
    font-size: 18px; /* Taille de police */
    background-color: #049c25; /* Couleur de fond */
    color: #fff; /* Couleur de police */
    border: none; /* Supprime la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur */
}

/* Style pour le bouton au survol */
button:hover {
    background-color: #027a1b; /* Couleur de fond au survol */
}

.form-title {
    color: #027a1b; /* Couleur demandée */
    margin-top: 0; /* Supprimer la marge supérieure par défaut */
}

.required {
    color: #ff0000; /* Couleur rouge pour les étoiles */
    margin-left: 3px; /* Espacement entre le label et l'étoile */
}
